.b {
	font-weight: bold;
	font-size: 1.25em;
}
.clickable {
	cursor: pointer;
	text-align: center;
	width: 100%;
	padding: 0px;
	margin-bottom: 1px;
}
.nav {
	margin: 30px;
	height: auto;
	padding: auto;
}
li {
	text-decoration: none;
}
.capitalize {
	text-transform: capitalize;
}
.third {
	display: inline;
}
.center {
	text-align: center;
}
.focus2,
.color2,
.button2 {
	background: #34d93f;
}
.focus2:hover {
	background: #3cfc89;
	text-decoration: none;
}
.button,
.focus,
.focus2,
.color1,
.color2,
.button2,
.button3 {
	color: #ffffff;
	font-family: Arial;
	font-size: 1.4em;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
}
.button,
.focus,
.color1 {
	background: #3498db;
}
.button:hover,
.focus:hover {
	background: #3cb0fd;
	text-decoration: none;
}
.button {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-size: 1.2em;
	cursor: pointer;
	border: 0px;
}
.rate {
	width: 10%;
}
.teacher {
	width: 90%;
}
.rate,
.teacher {
	display: inline;
}
.teachers {
	width: 100%;
	height: auto;
	display: flex;
	align-content: flex-start;
	text-align: center;
}
.button2 {
	color: #fff;
	padding: 10px;
	font-family: Arial;
	font-size 1.4em;
	border-radius: 28px;
	width: 355px;
	float: left;
}
.split {
	display: inline;
	margin: 20px;
}
.right {
	display: inline;
	float: right;
	margin: 20px 0;
}
.max-width {
	width: 80%;
	margin: auto;
}
.navbar-brand {
	position: absolute;
	top: 10px;
	left: 10px;
}
.css-form {
	color: black;
	display: inline-block;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #3498db;
	border-radius: 20px;
	background: #E8F1F2;
}
.classLeft {
	float: left;
}
.classRight {
	float: right;
}
.wrapper {
	margin: 0px;
	padding: 10px 20px;
	height: 26px;
}
.classHeader {
	height: 35px;
	padding: 10 20;
	margin: 0;
	background-color: #13293D;
	color: white;
	font-size: 1.4em;
	padding: 10px 20px;
}
.instructorMargin {
	margin-right: 12%;
}
.bold {
	font-size: 1.4em;
	font-weight: bolder;
}
.container {
	width: 100%;
	text-align: center;
}
.banner {
	background-color: #006494;
	color: #fff;
	width: 100%;
	margin-bottom: 20px;
	padding: 20px;
	height: auto;
	overflow: auto;
}
.search {
	font-family: Arial;
	font-size: 1.4em;
	padding: 10px 20px;
	background-color: white;
	border: 1px ridge #13293D;
	color: black;
	border-radius: 10px;
}
